body {
  background-color: white;
  color: black; /* text color */
  height:1800px;
}

/* Change header text to imported font */
  h2 {
    font-family: 'Yusei Magic', sans-serif;
  }
.shiny-frame {
    color: #fff;
    height: 900px;
  }

/* Make text visible on inputs */
.shiny-container {
    color: #fff;
    height:900px;
  }

  .shiny-input-container {
    color: #fff;
    height:900px;
  }
